/* @tailwind base; */
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 211, 211, 211;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 17, 17, 18;
  }
}

body {
  margin: 0;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.cl-internal-b3fm6y {
  display: none !important;
}

.cl-internal-phfxlr {
  width: 95% !important;
  display: flex;
  justify-content: center;
}
.cl-internal-rx251b {
  width: 100%;
}
@media screen and (max-width: 600px) {
  .cl-internal-2tn0z0 {
    padding: 1rem 1rem;
  }
}

@media (prefers-color-scheme: dark) {
  .cl-internal-rx251b {
    background: #444;
    color: #fff !important;
  }
  .cl-internal-1p383is,
  .cl-internal-13zhnx0,
  .cl-internal-8a92hp,
  .cl-internal-1ho4xv,
  .cl-internal-rscu79,
  .cl-internal-of57g,
  .cl-internal-fqx4fd,
  .cl-internal-3vf5mz,
  .cl-internal-u0n37k {
    color: #fff;
  }
  .cl-internal-1dbixsh,
  .cl-internal-147wstt,
  .cl-internal-1i0alb8 {
    color: #fff;
    background-color: #555;
  }
  .cl-internal-1dbixsh:hover,
  .cl-internal-147wstt:hover {
    background-color: #777;
  }
  .cl-internal-60laz0 {
    border-right: 1px solid #888;
  }
  .cl-internal-1i0alb8:hover {
    background-color: #777;
  }
}
